.container{
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.container .title{
    width: 100%;
    text-align: center;
    color: black;
    font-weight: 300;
    font-size: 30px;
}

.container .title a{
    text-decoration: none;
    color: cyan;
    transition: all 0.3s ease-in-out;
}

.container .title a:hover{
    color: blue;
}